#p1
{
	background-image: url("img/images.jpg");
	background-size: 100px;
	background-color: white;
	font-size: 100px;
	font-family: Georgia;
	background-repeat: no-repeat;
	margin-top: 140px;
	background-position: center;
}

#p2
{
	margin-top: 1000px;
	font-size: 70px;
	font-family: Georgia;
	background-color: yellow;
	background-image: url(ac.png) no-repeat 99% center;
	/*background-image:  linear-gradient(to bottom,red,white,green);*/
	background-size: 30px;
}

video
{
	margin-top: 100px;
}

body
{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}